@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  --w3m-accent-color: #41d3c5 !important;
  --w3m-background-color: #f019de !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* Enables normal scrolling */
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Ethnocentric';
  src: url('/src/assets/font/ethnocentric-cufonfonts/ethnocentricrg.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('./assets/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Ethnocentric';
  color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Ethnocentric';
  line-height: 1.6;
  font-weight: 600;
  word-spacing: 0.1em;
}

p, ul, li, h5 {
  font-family: 'Montserrat';
  line-height: 1.6;
  word-spacing: 0.1em;
}

button, span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content {
  flex: 1;
}

footer {
  margin-top: auto;
}


.header-background {
  background-image: url('./assets/Image/homepagebg.png'); /* Webpack/Vite resolves this path automatically */
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.header-background2 {
  background-image: url('./assets/Image/homepagebg.png'); /* Webpack/Vite resolves this path automatically */
  background-size: cover;

  background-repeat: no-repeat;
}



.roadmap-background {
  background-image: url('./assets/bgroadmap.png'); /* Webpack/Vite resolves this path automatically */
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: 50px; */
 
}


.slider1 {
  background-image: url('./assets/swipper/Slider1.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
  background-size: 100% 350px;
 }

 .slider2 {
  background-image: url('./assets/swipper/Slider2.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
  background-size: 100% 350px;
 }

 .slider3 {
  background-image: url('./assets/swipper/Slider3.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
  background-size: 100% 350px;
 }

 .slider4 {
  background-image: url('./assets/swipper/Slider4.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
  background-size: 100% 350px;
 }


 .slider5 {
  background-image: url('./assets/swipper/Slider5.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
  background-size: 100% 350px;
 }


 .slider6 {
  background-image: url('./assets/swipper/Slider6.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
  background-size: 100% 350px;
 }


 .usecase1 {
  background-image: url('./assets/usecase/usecaseimg1.png'); /* Webpack/Vite resolves this path automatically */
  background-repeat: no-repeat;
  /* background-position: 50px; */
background-size: cover;
 }

 .usecase2 {

  background-image: url('./assets/cinema/bgcinema.png');
  background-repeat: no-repeat;
  background-size: cover;
}




 .swipper-circle {
  background-image: url('./assets/swipper/circle.png'); 
  background-repeat: no-repeat;
background-size: contain;
 }

 .ercircle{
  background-image: url('./assets/usecase/ercircle.png'); 
  background-repeat: no-repeat;
background-size: contain;
 }


 .border-image{
  background-image: url('./assets/usecase/borderimg.png'); 
  background-repeat: no-repeat;
background-size: auto;
 }

 .step1{
  background-image: url('./assets/PRESALE/step1.png'); 
  background-repeat: no-repeat;
  background-size: cover   ;
  background-position: center;
 }

 .step2{
  background-image: url('./assets/PRESALE/step22.png'); 
  background-repeat: no-repeat;
background-size: cover;
background-position: center ;
 }

 .step3{
  background-image: url('./assets/PRESALE/step3.png'); 
  background-repeat: no-repeat;
  background-size: cover   ;

 }

 .step4{
  background-image: url('./assets/PRESALE/step4.png'); 
  background-repeat: no-repeat;
background-size: cover   ;


background-position: center ; 
 }


 .presalebackgroundimg{
  background-image: url('./assets/PRESALE/presaleBG.png'); 
  background-repeat: no-repeat;
background-size: cover;
backdrop-filter: contrast(0.5);
background-position: center ; 
 }


 .envelop{
  background-image: url('./assets/Image/envelop.png'); 
  background-repeat: no-repeat;
background-size: cover;

background-position: center ; 
 }


/* Add this CSS to handle the popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #090909;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.bg-header-background {
  background-size: cover;
  background-position: center;
}



/* loader loading */

.loader {
  height: 100px;
  aspect-ratio: 1;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  display: grid;
  place-content: center;
  mask: conic-gradient(#000 0 10%), conic-gradient(#000 0 0) content-box exclude;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scale(1.5);
  background: linear-gradient(
    0,
    transparent 0%,
    transparent 10%,
    transparent 40%,
    #DAA520 50%,
    #FFDF00 60%,
    #B8860B 60%
  );
  filter: blur(8px);
  animation: l3 4s linear infinite;
}

@keyframes l3 {
  to {
    rotate: 1turn;
  }
}

.item {
  background: linear-gradient(45deg, #FFDF00, #FFD700, #B8860B, #DAA520, #B8860B);
  height: 70px;
  width: 70px;
  border: 5px solid #000;
  box-shadow: inset -8px -8px 0 black, inset 8px 8px 0 black;
  aspect-ratio: 1;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* UVT Text */
.text {
  position: absolute;
  font-size: 4rem;
  padding-top: 5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
  animation: glow 1.5s infinite alternate ease-in-out;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
  }
  to {
    text-shadow: 0 0 20px #FFDF00, 0 0 30px #FFDF00, 0 0 40px #FFDF00;
  }
}

